import tensorflow as tf
from tensorflow.keras.applications.resnet50 import preprocess_input, decode_predictions
from tensorflow.keras.preprocessing import image
from keras.models import load_model
# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import datetime
import glob
from keras.models import Sequential,Model
from keras.models import load_model
from keras.layers import BatchNormalization, Lambda, Input, Dense, Convolution2D, MaxPooling2D, AveragePooling2D, ZeroPadding2D, Dropout, Flatten, merge, Reshape, Activation
from keras.layers.merge import Concatenate
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import ModelCheckpoint
import numpy as np
from tensorflow.keras.optimizers import SGD
import keras.backend as K
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import time